body {
    font-family: Helvetica, sanserif;
    margin: 1em 3em;
}

.breadcrumbs {
    font-size: 90%;
    list-style: none;
    padding-left: 0;
}

.breadcrumbs li {
    display: inline;
    padding-left: 0;
}

.breadcrumbs li:after {
    content: " » ";
}

dt {
    margin-top: 2ex;
    font-weight: bold;
}

li {
    margin: 1ex 0;
}